{% load static %}
<section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <h2 class="section-title">Projeto Integrador II</h2>
              </div>
              <div class="content">
                <p>

                </p>O Projeto Integrador é uma atividade curricular que consiste na resolução de um problema real contextualizado na profissão em que o curso está inserido.​Em grupo, os estudantes devem delimitar um problema a partir do tema norteador da disciplina, propondo uma solução aplicável, usando os conhecimentos estudados nas disciplinas cursadas até o momento. ​ Ao longo do semestre os alunos terão autonomia de aprendizagem no que tange à pesquisa, organização e desenvolvimento do projeto, com suportes e acompanhamentos semanais do orientador de PI.​ 
                As metodologias de ensino-aprendizagem pressupõe:<br>Trabalho coletivo e colaborativo;<br>Aprendizagem ativa;<br>Identificação de problemas em contextos reais;<br>
Empatia para busca por soluções centradas no ser humano.
              <div class="row">
                <div class="col-lg-6">
                </p>
                <a href="#hero-area" class="btn btn-common mt-3">Página Inicial</a> 

                </div> 
                <div class="col-lg-6">
                </p>
                <a href="#members" class="btn btn-common mt-3">Participantes do projeto</a> 


                </div>
                
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="Imagem ilustrando o grupo do Projeto Integrador em uma reunião" >
        </div>
      </div>
    </div>
  </section>
