{% load static %}
<footer id="footer" class="footer-area section-padding">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
 
  
            </div>
          </div>
        

        </div>
      </div>  
    </div> 
    <div id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-content">
              <p>Projeto Integrador - UNIVESP - Grupo 014/001 Copyright © 2022 <a rel="nofollow" href="#"></a> All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </footer> 