{% load static %}
<section id="hero-area" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading mt-0 ">
                <h2>Diversidade Arbórea</h2><h3> Praças de Monte Alto - SP.</h3>
              </div>
              <div class="content" style="background-color: rgb(255, 255, 255);">
                <p>

                </p>A arborização das praças da cidade de Monte Alto – SP constitui uma paisagem diversificada, tendo várias espécies arbóreas compondo sua estrutura, sendo importante para a purificação do ar, e mantendo a temperatura do ambiente agradável, levando vários cidadãos a visitá-las por ter estas características.<br>Projeto desenvolvido por alunos da UNIVESP - Grupo 014 - Turma 001
                
              </div>
            </p>
            <a href="#about" class="btn btn-common mt-3">Mais informações sobre o Projeto</a> 
            </div>
          </div>
          
        </div>
    
        </div>
      </div>
    </div>
  </section>