{% load static %}
<section id="members" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Membros e Formadores do Projeto Integrador II</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"><!--1-->
          <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
               <div class="text">
                <h4>Adilson Teixeira Lima</h4>
                <p></p>
              </div>
            </div >
            <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
               <div class="text">
                <h4>Charles Roberto Alegre</h4>
                <p></p>
              </div>
             </div>
             <div class="content-right">
             <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
              <div class="text">
               <h4>Éder Matheus Pereira</h4>
               <p></p>
             </div>
            </div>
           </div>
           <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
             <div class="text">
              <h4>Herick Hamada</h4>
              <p></p>
            </div>
           </div>
          </div>

        </div>
        </div>
        </div><!--final coluna-->
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"><!--1-->
          <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
               <div class="text">
                <h4>Kleber Juliano Aleixo</h4>
                <p></p>
              </div>
            </div >
            <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
               <div class="text">
                <h4>Manoel Alípio de Sant’Ana</h4>
                <p></p>
              </div>
             </div>
             <div class="content-right">
             <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
              <div class="text">
               <h4>Paulo Sérgio Fumes</h4>
               <p></p>
             </div>
            </div>
           </div>
           <div class="content-right">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
             <div class="text">
              <h4>Wagner José da Silva</h4>
              <p></p>
            </div>
           </div>
          </div>

        </div>
        
        </div>
        </div><!--final coluna-->
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-">
        <div class="content-right">
          <div class="box-item wow fadeInLeft" data-wow-delay="0.6s"><!--2-->
            <div class="text">
            <p>Professores Autores da disciplina</p>
            <h4>Prof. Dr. Marcelo Garcia Manzato</h4>
            <h4>Profª. Dra. Mônica Cristina Garbin</h4>
            <p>Orientadora</p>
            <h4>Profª. Adriana Andrade</h4>
           </div>
           <div class="wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid width: 50%" src="{% static 'img/thumb-univesp.jpg' %}" alt="Logo da UNIVESP" >
          </div>
           
           </div>
         </div>
        </div>

      </div> <!-- fim da row-->
    </div>
  </section>